/*
 * Stylesheets for Kartograph map
 */

.UserCountryMapIslandora_map svg path {
    stroke-linejoin: round;
}

.UserCountryMapIslandora svg .countries {
    cursor: pointer;
    stroke-width: 0.5px;
    stroke: #545C6D;
}

.UserCountryMapIslandora svg .context {
    stroke: #BBBBBB;
    fill: #F6F5F3;
    stroke-width: 0.5px;
}

.UserCountryMapIslandora svg .context-clickable {
    cursor: pointer;
    stroke: #BBBBBB;
    fill: #e0f2e4;
    stroke-width: 0.5px;
}

.UserCountryMapIslandora svg .context-clickable:hover {
    fill: #cbe4e4;
}

.UserCountryMapIslandora svg .regionBG {
    stroke-width: 6px;
    stroke: #fff;
    fill: none;
}

.UserCountryMapIslandora svg .regionBG-fill {
    stroke: #555;
    stroke-width: 0.2px;
    fill: #d4f6e1;
}

.UserCountryMapIslandora svg .regionBG-3 {
    stroke: #ccc;
    fill: #e6f2f0;
    stroke-width: 1px;
}

.UUserCountryMapIslandora svg .countryBG {
    stroke: #fff;
    fill: #fff;
    stroke-width: 4px;
}

.UserCountryMapIslandora svg .regions {
    stroke-width: 1px;
}

.UserCountryMapIslandora svg .regions2 {
    stroke-width: 1px;
    stroke: #aaa;
    fill: #fff;
}

.UserCountryMapIslandora svg .countryLabelBg {
    font-weight: bold;
    font-size: 10px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    fill: #F6F5F3;
    stroke: #F6F5F3;
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.UserCountryMapIslandora svg .countryLabel {
    font-weight: bold;
    font-size: 10px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    fill: #808888;
}

